.comment {
  display: flex;
  padding-top: 16px;

  a:hover {
    text-decoration: none;
  }

  .u-icon {
    font-size: 16px;
  }

  &-primary {
    flex: 1;
    margin-left: 16px;
    overflow: hidden;
  }
}

.u-fold {
  margin-top: 8px;
}

.reply {
  .content-box {
    margin-left: 12px;
  }

  .el-avatar {
    --el-avatar-size: 24px !important;
  }

  padding: 0;
}

.reply:not(:first-child) {
  margin-top: 1rem;
}
